<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- farmeworks -->
    <link rel="stylesheet" href="css/font_awesome_edit/css/all.min.css">

    <!-- css -->
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/root.css">

    <!-- js -->
    <script src="js/login.js" defer></script>

    <title>Inscription</title>
</head>
<body>
    <form action="/newuser" method="post" name="formConnexion">
        <h2>CRÉER COMPTE</h2>
        <span><label for="id">Identifiant</label></span><br>
        <input type="text" id="id" name="pseudo" class="input"><br><br><br>
        <span><label for="mdp">Mot de passe</label></span><br>
        <div class="input">
            <input type="password" id="mdp" name="password"> <i class="fa-regular fa-eye" onclick="blink()" id="oeil"></i>
        </div> 
        <span class="commentaire"></span>
        <div>
            <button type="submit" onclick="return estVide()">
                Créer
            </button> 
        </div>
    </form>
</body>
</html>